<h1>MapNav Home</h1>
<p>Welcome to Map Based Photo Album! </p>
<p>Take your album with you wherever you go in the world.</p>
<p>Map Based Photo Album lets you to create photo collections that you can hold them together on the world map with their locations in which they were taken.</p>

<img width="80%" height="80%" src="https://d30su0b7sry5gh.cloudfront.net/repo/scHsa1As/images/hjdsUezP.jpg" alt="Welcome to MapNav">

